header {
    background-color: rgb(80, 219, 87);
    padding: 20px 0;
}

.cabeza{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 5% 0px;
    box-sizing: border-box;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.productos li:hover{
    border-color:rgb(207, 9, 9);
}

.productos li:hover h2{
    font-size: 33px;
}

.productos li:active{
    border-color:rgb(9, 207, 42);
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.desc{
    font-size: 18px;
}

.precio{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.icono {
    width: 10%;
}

#cristal {
    width: 95%;
}

#tnt {
    width: 88%;
}

#lava {
    width: 95%;
}

nav {
    position: absolute; 
    top: 100px; 
    right: 200px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color:rgb(207, 9, 9);
    text-decoration: underline;
}

footer{
    text-align: center;
    background: url(https://i.ytimg.com/vi/0PJ-1-9OnXs/hqdefault.jpg);
    padding: 30px;
}

#pie {
    width: 7.5%;
}

.copyright{
    color:beige;
    font-size: 13px;
    margin: 20px;
}

@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .principal, .mapa-contenido, .descuento, .video {
        width: auto;
    }
    .lista, #descuento{
        width: 100%;
    }
}
